<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>The Full Stack</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/"><p class="navbar-brand" id="title">THE FULL STACK</p></a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="investing"><a href="/subject/investing">INVESTING</a></li>
          <li id="technology"><a href="/subject/technology">TECHNOLOGY</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
